
@model IEnumerable<SPJMD.Models.Oficial>

@{
    ViewData["Title"] = "Oficiais";
        
}

<h1>@ViewData["Title"]</h1>


<br />
<h3>Relação de Oficiais do 9º BPM/I</h3>
<table class="table table-striped table-hover">
    <thead class="bg-info bg-opacity-25">
        <tr>
            <th class="tamanholetra">
                @Html.DisplayNameFor(model => model.Posto)
            </th>
            <th class="tamanholetra">
                @Html.DisplayNameFor(model => model.Re)
            </th>
            <th class="tamanholetra">
                @Html.DisplayNameFor(model => model.Digito)
            </th>
            <th class="tamanholetra">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="tamanholetra">
                @Html.DisplayNameFor(model => model.Email)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(x => x.Posto))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Posto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Re)
            </td>
            <td class="text-uppercase">
                @Html.DisplayFor(modelItem => item.Digito)
            </td>
            <td class="text-uppercase">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Editar</a> |
               
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Excluir</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<br />
<div class="form-group">
    <a asp-action="Create" class="btn btn-primary btn-lg">Novo</a>
</div>

