@model IEnumerable<SPJMD.Models.Oficial>

@{
    ViewData["Title"] = "Oficiais";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<br />
<h3>Relação de Oficiais do 9º BPM/I</h3>
<table class="table">
    <thead class="bg-info bg-opacity-50 text-black">
        <tr>
            <th class="tamanholetra">
                @Html.DisplayNameFor(model => model.Re)
            </th>
            <th class="tamanholetra">
                @Html.DisplayNameFor(model => model.Digito)
            </th>
            <th class="tamanholetra">
                @Html.DisplayNameFor(model => model.Posto)
            </th>
            <th class="tamanholetra">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="tamanholetra">
                @Html.DisplayNameFor(model => model.Email)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Re)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Digito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
           
            <td>
                @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
